<template>
  <div id="app">
    <h3>Todos</h3>
    <div class="legend">
        <span>Double click to mark as complete</span>
        <span>
            <span class="incomplete-box"></span> = incomplete
        </span>
        <span>
            <span class="complete-box"></span> = complete
        </span>
    </div>
    <div class="todos">
        <div
            v-for="todo in allTodos"
            :key="todo.id"
            @dblclick="onDblClick(todo)"
            class="todo"
            v-bind:class="{'is-complete':todo.completed}"
        >
            {{todo.title}}
            <i @click="deleteTodo(todo.id)" class="fas fa-trash-alt"></i>
        </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions} from 'vuex'
export default {
    name: 'Todos',
    computed: mapGetters(['allTodos']),
    methods: {
        ...mapActions(['getTodos', 'deleteTodo', 'updateTodo']),
        onDblClick(todo){
            const updatedTodo = {...todo, completed: !todo.completed}
            this.updateTodo(updatedTodo)
        }
    },
    created(){
        this.getTodos();
    }
}
</script>

<style scoped>
    .todos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
    .todo {
        border: 1px solid #cccccc;
        background: #41b883;
        padding: 1rem;
        border-radius: 5px;
        text-align: center;
        position: relative;
        cursor: pointer;
    }
    i {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: #ffffff;
        cursor: pointer;
    }
    .legend {
        display: flex;
        justify-content: space-around;
        margin-bottom: 1rem;
    }
    .incomplete-box {
        background: #41b883;
        display: inline-block;
        width: 10px;
        height: 10px;
    }
    .complete-box {
        background: #35495e;
        display: inline-block;
        width: 10px;
        height: 10px;
    }
    .is-complete {
        background: #35495e;
        color: #ffffff;
    }
    @media (max-width: 500px) {
        .todos {
            grid-template-columns: 1fr;
        }
    }
</style>